:root {
  --banner-size: 8em;
}

section {
  padding-top: var(--banner-size);
  font-family: Arial, Helvetica, sans-serif;
}

.sticky {
  padding: 0%;
  position: fixed;
  width: 100%;
}

.page-banner {
  max-height: var(--banner-size);
  background-color: maroon;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  color: orange;
  text-align: center;
  top: 0%;
}

.page-banner a {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: justify;
}

.page-banner a:hover {
  background: rgba(255, 166, 0, 0.514);
}

.contact {
  display: block;
}

.section-header {
  background-color: rgb(180, 180, 180);
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 200%;
  text-align: center;
}
