body {
  margin: 0%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 125px;
}

.page-banner {
  margin: 0%;
  background-color: maroon;
  font-family: "Courier New", Courier, monospace;
  color: orange;
  text-align: center;
}

.page-banner a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: justify;
}

.page-banner a:hover {
  background: rgba(255, 166, 0, 0.514);
}

.contact {
  margin-top: 150px;
}
